@use './partials/variables' as *;

@import '/node_modules/@fontsource/ubuntu/index.css';
@import 'node_modules/bootstrap/scss/bootstrap';

body{
  font-family: $font-family;
  height: 100vh;
  background-image: linear-gradient(
    darken($primary-color, 5%) 20%,
    $primary-color 80%
  );
}